# ==========================
# Docker Compose
# ==========================

COMPOSE_PROJECT_NAME=task_manager

# ==========================
# MySQL
# ==========================

MYSQL_ROOT_PASSWORD=your_password
MYSQL_DATABASE=task_manager

# ==========================
# Application
# ==========================

DB_HOST=mysql
DB_PORT=3306
DB_NAME=task_manager
DB_USER=root
DB_PASS=your_password